*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(235, 221, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
h1{
  text-align: center;
  margin: 1rem;
}
.container{
  width: 550px;
  height: 550px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}
.card{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}